#mute__toggle {
    position: absolute;
    width:2%;
}
#imgh {
    position: absolute;
    width:4rem;
    height:4rem;
    margin-top:1%;
}
.hike {
    position: absolute;
    height: 100%;
    width: 100%;
}
#w {
    display: flex;
    justify-content: center;
}
label {
    font-size: 20px;
}
#cur {
    background-color: rgb(208, 208, 208);
    width:20%;
    height: 70%;
    border-radius: 20px;
    margin-right: 20%;
    font-size:18px;
    text-align: center;
}
#max {
    background-color: rgb(208, 208, 208);
    width:20%;
    height: 70%;
    border-radius: 20px;
    margin-left: 20%;
    font-size: 18px;
    text-align: center;
}
#welc {
    text-align: center;
    font-size: 15px;
    margin-top: 1%;
    height:13%;
    width:70%;
}
#streak-container {
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.row {
    resize:none;
    display:flex;
    justify-content:center;
}
#apps {
    grid-column: 60 / 101;
    grid-row: 1 / 20;
    background-color: rgb(235, 235, 235);
    border-radius:20px;
    margin: 0.5%;
}
#welcome {
    resize:none;
    grid-column: 1 / 60;
    grid-row: 1 / 15;
    background-color: rgb(235, 235, 235);
    border-radius:20px;
    margin: 0.5%;
}
.inner {
    resize:none;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, min-content);
    grid-column-gap: 8%;
}

.inner > div {
    margin: none;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width:30px; 
    height:30px;
}
.n0 {
    background-color: #6fd9ff;
}
.n1 {
    background-color: rgb(130, 255, 130);
}
.n2 {
    background-color: rgb(117, 18, 255);
}
.n3 {
    background-color: rgb(255, 130, 130);
}
.n4 {
    background-color: rgb(105, 68, 23);
}
.n5 {
    background-color: rgb(255, 190, 85);
}
.combo {
    width: 85%;
    height: 15%;
    margin:5%;
    border-radius: 20px;
}
#map {
    position: relative;
    resize:none;
    grid-column: 1 / 60;
    grid-row: 15 / 70;
    border-radius: 25px;;
    margin: 0.5%;
    overflow: auto;
    width: 99%;
    height: 99%;
}
#mid {
    font-size: 2rem;
    z-index: 1000;
    grid-column: 1 / 60;
    grid-row: 10 / 25;
    text-align:center;
}
#month {
    resize:none;
    grid-column: 60 / 101;
    grid-row: 20 / 70;
    border-radius: 20px;
    overflow: auto;
    background-color: rgb(235, 235, 235);
    margin: 0.5%;
}
#box {
    resize:none;
    width: 100%;
    height: 95%;
    display: grid;
    gap: 10px;
}
body {
    background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%,rgba(17, 17, 236, 1) 0%,rgba(0, 212, 255, 1) 35%);
    font-family: 'Courier New', Courier, monospace;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 120, 239);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 78, 94);
}
.hamburger-menu {
    float: right;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 300px;
    height: 100%;
    margin: 0;
    margin-left:85%;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
figure:not(.hike) {
    text-align:center;
    margin: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.img {
    border-radius: 5px;
    width: 80px;
    height: width;
}